@import url(reset.css);
@import url(fonts.css);
@import url(adaptive.css);

html{
    overflow-x: hidden;
}

.buttonUp{
    position: fixed;
    right: 50px;
    bottom:80px;
    width: 80px;
    height: 80px;
    border-radius:40px;
    background-color: #523634;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #DDC5A2;
    text-shadow: white 1px 1px 2px;
    box-shadow: 0px 0px 15px 5px white;
    text-decoration: none;
    transition: 1s;
    transition-property: all;
    opacity: 0.6;
}

.buttonUp:hover{
    opacity: 1;
    color: #301B28;
    background-color: #DDC5A2;
}

.header{
    width: 100%;
    height: 90px;
    z-index: 999;
}
body{
    background-image: url(../images/back.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
}

.headerMain{
    margin: 0px auto;
    /* background-color: #523634; */
    background-color: #301B28;
    /* background-color: #003B46; */
    width: 80%;
    height: 100%;
    box-shadow: 0px 40px 20px 15px black;
}

.headerNav{
    margin: 0px auto;
    width: 100%;
    height: 60px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
}

.menu{
    z-index: 1;
    width: 80%;
    margin: 0px auto;
    height: 80px;
    background-color: #301B28;
}

.NavA{
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: 'DaysOne';
    text-shadow: white 0px 0px 20px;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px black;
    box-shadow: 0px 0px 10px 3px white;
    position: relative;
    bottom: -20px;
    opacity: 0;
    animation-name: show2;
    animation-delay: 1s;
    animation-fill-mode:forwards;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transition-duration: 1s;
    transition-property: cursor,border,transform,box-shadow,color,background-color,border-radius;
}

@keyframes show2{
    to{
        bottom: 0px;
        opacity: 1;
    }
}

.NavA:hover{
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 3px black;
    color: black;
    border: solid 2px white;
    background-color: #DDC5A2;
    border-radius:10px;
}

.headerDiv{
    font-size: 35px;
    font-family: 'DaysOne';
    width: 100%;
    height: 70px;
    color: white;
    text-align: center;
    padding-top: 20px;
    text-shadow: white 1px 1px 20px;
    position: relative;
    top: -20px;
    opacity: 0;
    animation-name: show1;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes show1{
    to{
        top: 0px;
        opacity: 1;
    }
}

.sections{
    width: 100%;
    height: 630vh;
}

.section1{
    z-index: 1;
    width: 80%;
    margin: 0px auto;
    height: 100vh;
    background-color:#C4DFE6;
    -webkit-box-shadow: 9px 0px 10px 0px black;
    -moz-box-shadow:    9px 0px 10px 0px black;
    box-shadow:         9px 0px 10px 0px black;
}

.sec1Div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:#DDC5A2;
    -webkit-box-shadow: -9px 0px 10px 0px black;
    -moz-box-shadow:    -9px 0px 10px 0px black;
    box-shadow:         -9px 0px 10px 0px black;
}

.sec1Div1{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec1Div2{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.section1P1{
    font-size: 40px;
    color: #301B28;
    font-family: 'Oswald';
    font-weight: 900;
    text-shadow: white 3px 3px 2px;
    position: relative;
    top: -20px;
    opacity: 0;
    animation-name: show3;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration:1s;
}

@keyframes show3{
    to{
        top:0px;
        opacity: 1;
    }
}

.section1P1Div{
    font-size: 20px;
    color: #301B28;
    margin: 20px 0px;
    text-shadow: white 3px 3px 2px;
    position: relative;
    left: -20px;
    opacity: 0;
    animation-name: show4;
    animation-duration:1s;
    animation-fill-mode:forwards;
    animation-iteration-count:1;
    animation-delay: 2s;
}

@keyframes show4{
    to{
        left: 0px;
        opacity: 1;
    }
}

.section1P2{
    font-size: 30px;
    color: #301B28;
    font-family: 'Cuprum';
    font-weight: 700;
    width: 90%;
    margin-bottom: 50px;
    text-align: justify;
    text-shadow: white 3px 3px 2px;
    position: relative;
    bottom:-20px;
    opacity: 0;
    animation-name: show5;
    animation-delay: 2.5s;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    animation-iteration-count:1;
}

@keyframes show5{
    to{
        bottom: 0px;
        opacity: 1;
    }
}

.sec1Img3{
    height: 70%;
    border-radius:20px;
    box-shadow: 0px 0px 15px 5px #523634;
    position: relative;
    right: -20px;
    opacity: 0;
    animation-name: show6;
    animation-delay: 3s;
    animation-duration:1s;
    animation-fill-mode:forwards;
    animation-iteration-count:1;
}

.sec1Div2P{
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 30px;
    color: #301B28;
    font-family: 'Cuprum';
    font-weight: 700;
    text-shadow: white 3px 3px 2px;
    right: -20px;
    opacity: 0;
    animation-name: show6;
    animation-delay: 3s;
    animation-duration:1s;
    animation-fill-mode:forwards;
    animation-iteration-count:1;
}

@keyframes show6{
    to{
        right: 0px;
        opacity: 1;
    }
}

.section2{
    z-index: 0;
    width: 80%;
    margin: 0px auto;
    height: 100vh;
    -webkit-box-shadow: 9px 0px 10px 0px black;
    -moz-box-shadow:    9px 0px 10px 0px black;
    box-shadow:         9px 0px 10px 0px black;
}

.sec2Div{
    width: 100%;
    height: 100%;
    background-color:#523634;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    -webkit-box-shadow: -9px 0px 10px 0px black;
    -moz-box-shadow:    -9px 0px 10px 0px black;
    box-shadow:         -9px 0px 10px 0px black;
}

.sec2Div1{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.sec2Div1Div1{
    height: 100%;
    width: 50%;
    display: flex;
    padding-bottom: 50px;
    justify-content: center;
    align-items: flex-end;
}

.sec2Div1Div2{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-right: 60px;
    padding-left: 0px;
    margin-bottom: 0px;
}

.sec2Img1, .sec2Img2, .sec2Img4{
    width: 65%;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 5px #DDC5A2;
}

.sec2Div2{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.sec2Div2Div1{
    padding-top: 50px;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.sec2Div2Div2{
    padding-top: 20px;
    height: 100%;
    width: 50%;
    display: flex;
    padding-right: 60px;
    justify-content: center;
    align-items:flex-start;
    margin-top: 0px;
}

.section2P1{
    font-size: 40px;
    font-family: 'Oswald';
    font-weight: 900;
    color: white;
    text-shadow: black 3px 3px 2px;
}

.section2PDiv{
    font-size: 20px;
    margin: 20px 0px;
    color: white;
    text-shadow: black 3px 3px 2px;
}



.section2P2{
    font-size: 30px;
    color: white;
    font-family: 'Cuprum';
    font-weight: 700;
    text-shadow: black 3px 3px 2px;
    text-align: justify;
    margin-bottom: 30px;
}

.section3{
    width: 80%;
    margin: 0px auto;
    height: 130vh;
    background-color:#DDC5A2;
    -webkit-box-shadow: 9px 0px 10px 0px black;
    -moz-box-shadow:    9px 0px 10px 0px black;
    box-shadow:         9px 0px 10px 0px black;
}

.sec3Div{
    width: 100%;
    height: 100%;
    background-color:#DDC5A2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    -webkit-box-shadow: -9px 0px 10px 0px black;
    -moz-box-shadow:    -9px 0px 10px 0px black;
    box-shadow:         -9px 0px 10px 0px black;
}

.sec3Div1{
    width: 100%;
    height: 36%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sec3Div1Div1{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
    padding-top: 60px;

}

.sec3Div1Div2{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3P1{
    font-size: 40px;
    font-family: 'Oswald';
    font-weight: 900;
    color: #301B28;
    text-shadow: white 3px 3px 2px;
}

.section3PDiv{
    font-size: 20px;
    margin: 20px 0px;
    color: #301B28;
    text-shadow: white 3px 3px 2px;
}

.section3P2{
    font-size: 30px;
    font-family: 'Cuprum';
    font-weight: 700;
    color: #301B28;
    text-shadow: white 3px 3px 2px;
    text-align: justify;
    margin-bottom: 30px;
}

.sec3Div2{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.sec3Div2Div1{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 60px;

}

.sec3Div2Div2{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.sec3Div3{
    width: 100%;
    height: 34%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.sec3Div3Div1{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 60px;
}

.sec3Div3Div2{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.sec3Img1,.sec3Img2,.sec3Img3{
    width: 65%;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 5px #523634;
}

.section4{
    width: 80%;
    margin: 0px auto;
    height: 100vh;
    -webkit-box-shadow: 9px 0px 10px 0px black;
    -moz-box-shadow:    9px 0px 10px 0px black;
    box-shadow:         9px 0px 10px 0px black;
}

.sec4Div{
    width: 100%;
    height: 100%;
    background-color:#523634;
    -webkit-box-shadow: -9px 0px 10px 0px black;
    -moz-box-shadow:    -9px 0px 10px 0px black;
    box-shadow:         -9px 0px 10px 0px black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.sec4Div1{
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.sec4Div1Div1{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec4Div1Div2{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 60px;
    padding-top: 30px;
}

.sec4Img1,.sec4Img2{
    width: 75%;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 5px #DDC5A2;
}

.sec4Img2{
    
    margin-bottom: 40px;
}

.sec4Div2{
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sec4Div2Div1{
    padding-bottom: 40px;
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.sec4Div2Div2{
    width: 55%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    padding-right: 60px;
}

.section4P1{
    font-size: 40px;
    font-family: 'Oswald';
    font-weight: 900;
    color: white;
    text-shadow: black 3px 3px 2px;
}

.section4PDiv{
    font-size: 20px;
    margin: 20px 0px;
    color: white;
    text-shadow: black 3px 3px 2px;
}

.section4P2{
    font-size: 30px;
    font-family: 'Cuprum';
    font-weight: 700;
    color: white;
    text-shadow: black 3px 3px 2px;
    text-align: justify;
    margin-bottom: 30px;
}

.section5{
    width: 80%;
    margin: 0px auto;
    height: 200vh;
    -webkit-box-shadow: 9px 0px 10px 0px black;
    -moz-box-shadow:    9px 0px 10px 0px black;
    box-shadow:         9px 0px 10px 0px black;
}

.sec5Div{
    width: 100%;
    height: 100%;
    background-color:#DDC5A2;
    -webkit-box-shadow: -9px 0px 10px 0px black;
    -moz-box-shadow:    -9px 0px 10px 0px black;
    box-shadow:         -9px 0px 10px 0px black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.sec5Div1,.sec5Div2{
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.sec5Div1Div1,.sec5Div2Div2{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section5Div1P1,.section5Div2P1{
    font-size: 40px;
    font-family: 'Oswald';
    font-weight: 900;
    color: #301B28;
    text-shadow: white 3px 3px 2px;
    margin-bottom: 20px;
}

.section5Div1P2,.section5Div2P2{
    font-size: 30px;
    font-family: 'Cuprum';
    font-weight: 700;
    color: #301B28;
    text-shadow: white 3px 3px 2px;
    margin-bottom: 30px;
    text-align: justify;
}

.sec5Img1,.sec5Img2{
    width: 90%;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 5px #523634;
    margin-bottom: 30px;
}

.sec5Div1Div2,.sec5Div2Div1{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    width: 80%;
    margin: 0px auto;
    height: 80px;
    background-color: #301B28;
    box-shadow: 0px 10px 15px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p{
    font-size: 20px;
    font-family: 'Oswald';
    font-weight: 100;
    color: white;
    text-shadow: white 0px 0px 5px;
    opacity: 0.8;
}